*{
    margin: 0;
    padding: 0;
}

.navbar{
    background: #ffffff;
    color:black;
}

@media (max-width: 991px) {
    li{
        display: grid;
    }

    .navbar-nav{
        border-bottom: solid 2px black;
    }

    .nav-link{
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        display: inline !important;
        margin: 3px;
        padding:2px;
        color:#000000 !important;
    }
    
    .navbar-nav .active{
        background:#000000;
        color:#ffffff !important;
    }
    
    .navbar-nav li a:hover{
        background:#000000;
        color:#ffffff !important;
        transition: all .2s ease-out ;
    }  

    .big{
        color: #1a1a1a;
        font-size: 60px;
        word-spacing: 10px;
        font-family: 'Tangerine', cursive;
    }
}

.disabled {
    pointer-events: none;
  }

.navbar-brand{
    margin-left: 15px;
}

.navbar-toggler{
    margin-right: 15px;
}

.navbar-nav{
    vertical-align: top;
}

.nav-link{
    color: #000000 !important;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav .active{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000 !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navbar-nav li a:hover{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000 !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all .2s ease-out ;
}

.navbar-toggler{
    width: 60px;
    height: 34px;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
}

.banner-photo img{
    width:100%;
    height: 380px;
}

.welcome p{
    margin: 4px;
    text-align: center;
}

.big{
    color: #1a1a1a;
    font-size: 85px;
    word-spacing: 10px;
    font-family: 'Tangerine', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.hor-line{
    margin: 20px 5%;
    position: center center;
    height: 5px;
    opacity: 100%;
    color: #000000 !important;
}

.line-3{
    margin-top: 40px;
    margin-bottom: 33px;
}

/*content-are*/

.about-content{
    margin: 1% 8%;
    font-size: 23px;
}

.about-content img{
    float: left;
    padding-right: 15px;
    width: 50%;
    height: 300px;
    line-height: 88%;
}




/* Footer part*/


footer{
    bottom: 0%;
    background-color: rgb(233, 229, 229);
    text-align: center;
}

.explore{
    padding-top: 15px;
    font-size: 25px;
}

.footer-nav a{
    text-decoration: none;
    color: #000000;
    padding: 0px 20px;
}

.footer-logo{
    margin: 10px;
    height: 70px;
    width: 100px;
}

.footer-contact{
    font-size: 25px;
}

.footer-contact img{
    height: 40px;
    width: 40px;
    margin: 0px 25px;
}
.footer-contact img:hover{
    transform: scale(1.03);
}


.copyright{
    margin-top: 10px;
    padding: 10px;
    color:#ffffff;
    background-color: black;
}