*{
    margin: 0;
    padding: 0;
}

.navbar{
    background: #ffffff;
    color:black;
}

@media (max-width: 991px) {
    li{
        display: grid;
    }

    .navbar-nav{
        border-bottom: solid 2px black;
    }

    .nav-link{
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        display: inline !important;
        margin: 3px;
        padding:2px;
        color:#000000 !important;
    }
    
    .navbar-nav .active{
        background:#000000;
        color:#ffffff !important;
    }
    
    .navbar-nav li a:hover{
        background:#000000;
        color:#ffffff !important;
        transition: all .2s ease-out ;
    }  

    .big{
        color: #1a1a1a;
        font-size: 60px;
        word-spacing: 10px;
        font-family: 'Tangerine', cursive;
    }

    .inline-nav a:hover{
        padding: 5px 15px;
        font-size: 22px;
        background-color: #000000 !important;
        color:#ffffff;
        transition: all .5s ease;
    }
}

.disabled {
    pointer-events: none;
  }

.navbar-brand{
    margin-left: 15px;
}

.navbar-toggler{
    margin-right: 15px;
}

.navbar-nav{
    vertical-align: top;
}

.nav-link{
    color: #000000 !important;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav .active{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000 !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navbar-nav li a:hover{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000 !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all .2s ease-out ;
}

.navbar-toggler{
    width: 60px;
    height: 34px;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
}

.banner-photo img{
    width:100%;
    height: 380px;
}

.welcome p{
    margin: 4px;
    text-align: center;
}

.big{
    color: #1a1a1a;
    font-size: 85px;
    word-spacing: 10px;
    font-family: 'Tangerine', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.hor-line{
    margin: 30px 5%;
    position: center center;
    height: 5px;
    opacity: 100%;
    color: #000000 !important;
}

.line-3{
    margin-top: 40px;
    margin-bottom: 33px;
}


/*content-area*/

.inline-nav{
    text-align: center;
}

.inline-nav a{
    display:inline-flex;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    color:#000000;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 8px;
    margin-right: 8px;
    padding: 3px 10px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.inline-nav a:hover{
    padding: 5px 15px;
    font-size: 22px;
    background-color: #000000 !important;
    color:#ffffff;
    transition: all .5s ease;
}

.gallery-content h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    word-spacing: 8px;
    letter-spacing: 3px;
}

.image-area{
    margin: 15px 6%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.image-area img{
    margin:10px;
	width: 300px;
	height: 220px;
}




/* Footer part*/


footer{
    bottom: 0%;
    background-color: rgb(233, 229, 229);
    text-align: center;
}

.explore{
    padding-top: 15px;
    font-size: 25px;
}

.footer-nav a{
    text-decoration: none;
    color: #000000;
    padding: 0px 20px;
}

.footer-logo{
    margin: 10px;
    height: 70px;
    width: 100px;
}

.footer-contact{
    font-size: 25px;
}

.footer-contact img{
    height: 40px;
    width: 40px;
    margin: 0px 25px;
}

.footer-contact img:hover{
    transform: scale(1.03);
}


.copyright{
    margin-top: 10px;
    padding: 10px;
    color:#ffffff;
    background-color: black;
}